<footer id="footer">
    <section>
        <form method="post" action="#">
            <div class="fields">
                <div class="field">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" />
                </div>
                <div class="field">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" />
                </div>
                <div class="field">
                    <label for="message">Message</label>
                    <textarea name="message" id="message" rows="3"></textarea>
                </div>
            </div>
            <ul class="actions">
                <li><input type="submit" value="Send Message" /></li>
            </ul>
        </form>
    </section>
    <section class="split">
        <section class="alt">
            <h3>Undergraduate Engineer</h3>
            <p><a href="https://www.spacemachines.co/"><span class="label">Space Machines Company</span></a></p>
        </section>
        <section>
            <h3>Bachelor of Engineering (Honours)</h3>
            <p>Mechatronic Engineering <br />
                <a href="https://www.uts.edu.au/"><span class="label">University of Technology Sydney</span></a>
            </p>
        </section>
        <section>
            <h3>Email</h3>
            <p><a href="#">Nathanael.Gandhi@uts.edu.au</a></p>
        </section>
        <section>
            <h3>Social</h3>
            {% include social.html %}
        </section>
    </section>
</footer>