<section>
    <header class="major">
        <h2>Latest Posts</h2>
    </header>
    <div class="mini-posts">
        <article>
            <a href="{{ site.posts[0].url }}" class="image"><img src="{{ site.posts[0].cover_image }}" alt="" />
            <p><br>{{ site.posts[0].title }}</p></a>
        </article>
        <article>
            <a href="{{ site.posts[1].url }}" class="image"><img src="{{ site.posts[1].cover_image }}" alt="" />
            <p><br>{{ site.posts[1].title }}</p></a>
        </article>
        <article>
            <a href="{{ site.posts[2].url }}" class="image"><img src="{{ site.posts[2].cover_image }}" alt="" />
            <p><br>{{ site.posts[2].title }}</p></a>
        </article>
    </div>
    <ul class="actions">
        <li><a href="/index.html" class="button">More</a></li>
    </ul>
</section>