<nav id="social">
    <ul class="icons">
        <li><a href="https://www.linkedin.com/in/nathanaelgandhi/" class="icon brands alt fa-linkedin"><span
                    class="label">Linkedin</span></a></li>
        <li><a href="https://github.com/NathanaelGandhi" class="icon brands alt fa-github"><span
                    class="label">Github</span></a></li>
        <li><a href="https://www.youtube.com/channel/UCXZpy5p8T0YqVLzUq0vuGKQ" class="icon brands alt fa-youtube"><span
                    class="label">Youtube</span></a></li>
        <li><a href="https://nathanaelgandhi.wordpress.com" class="icon brands alt fa-wordpress"><span
                    class="label">Wordpress</span></a></li>
    </ul>
</nav>