<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="/assets/css/main.css" />
  <noscript>
    <link rel="stylesheet" href="/assets/css/noscript.css" />
  </noscript>
  {% feed_meta %}
  {% seo %}
</head>

<body class="is-preload">
  <div id="wrapper" class="fade-in">
    <!-- Intro -->
    {% include intro.html %}
    <!-- Header -->
    {% include header.html %}
    <!-- Nav -->
    {% include navigation.html %}
    <!-- Main -->
    <div id="main">
      {{ content }}
    </div>
    <!-- Footer -->
    {% include footer.html %}
    <!-- Copyright -->
    {% include copyright.html %}
  </div>
  <!-- Scripts -->
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/jquery.scrollex.min.js"></script>
  <script src="/assets/js/jquery.scrolly.min.js"></script>
  <script src="/assets/js/browser.min.js"></script>
  <script src="/assets/js/breakpoints.min.js"></script>
  <script src="/assets/js/util.js"></script>
  <script src="/assets/js/main.js"></script>
</body>

</html>